In [1]:
import pandas as pd

We first focus on F

In [2]:
# RK-4 set up
def rk4(f1, f2, f3, h, FValues, num_iter):
    "this function performs RK-4"
    
    steps = list(range(num_iter))
    
    for i in steps:
        
        k11 = h*f1(FValues['f_prime'][i])
        k12 = h*f2(FValues['f_prime_2'][i])
        k13 = h*f3(FValues['f'][i], FValues['f_prime_2'][i])

        k21 = h*f1(FValues['f_prime'][i] + k12/2)
        k22 = h*f2(FValues['f_prime_2'][i] + k13/2)
        k23 = h*f3(FValues['f'][i] + k11/2, FValues['f_prime_2'][i] + k13/2)

        k31 = h*f1(FValues['f_prime'][i] + k22/2)
        k32 = h*f2(FValues['f_prime_2'][i] + k23/2)
        k33 = h*f3(FValues['f'][i] + k21/2, FValues['f_prime_2'][i] + k23/2)

        k41 = h*f1(FValues['f_prime'][i] + k32)
        k42 = h*f2(FValues['f_prime_2'][i] + k33)
        k43 = h*f3(FValues['f'][i] + k31, FValues['f_prime_2'][i] + k33)

        f = FValues['f'][i] + (1/6)*(k11 + 2*k21 + 2*k31 + k41)
        f_prime = FValues['f_prime'][i]  + (1/6)*(k12 + 2*k22 + 2*k32 + k42)
        f_dbl_prime = FValues['f_prime_2'][i] + (1/6)*(k13 + 2*k23 + 2*k33 + k43)
        
        FValues['eta'].append(i*h)
        FValues['f'].append(f)
        FValues['f_prime'].append(f_prime)
        FValues['f_prime_2'].append(f_dbl_prime)
                   
    return FValues

# Functions at hand
def y1(u2):
    "This is from f'=y2"
    y = u2
    return y

def y2(u3):
    "This is from f''=y3"
    y = u3
    return y

def y3(u1, u3):
    "This is from y'''=0.5(f*f'')"
    y = -0.5 * u1 * u3
    return y

In [3]:
#f_list = rk4(f1=y2, f2=y3, f3=y4, h=0.1, FValues=res, num_iter=100)

In [4]:
x_lower = 0
x_upper = 10

test_val = -1 #this is what we want to get

while abs(x_upper - x_lower) >= 10**(-6):
        
    # Trying values of f''
    x_test = (x_upper + x_lower)/2
    res = {'eta':[0], 'f':[0], 'f_prime': [0], 'f_prime_2' : [x_test]}
    
    res_f = rk4(f1=y1, f2=y2, f3=y3, h=0.1, FValues=res, num_iter=101)
    
    if (res_f['f_prime'][-1]-1)*test_val < 0:
        x_upper = x_test
    else:
        x_lower = x_test
        test_val = res_f['f_prime'][-1] -1

In [5]:
pd.DataFrame(res_f).head(10)

   eta         f   f_prime  f_prime_2
0  0.0  0.000000  0.000000   0.332057
1  0.0  0.001660  0.033205   0.332048
2  0.1  0.006641  0.066408   0.331983
3  0.2  0.014941  0.099598   0.331809
4  0.3  0.026560  0.132764   0.331469
5  0.4  0.041493  0.165885   0.330911
6  0.5  0.059735  0.198937   0.330079
7  0.6  0.081277  0.231890   0.328922
8  0.7  0.106108  0.264709   0.327389
9  0.8  0.134213  0.297354   0.325432

In [6]:
pd.DataFrame(res_f).tail(10)

      eta         f   f_prime     f_prime_2
92    9.1  7.479205  0.999999  1.975556e-07
93    9.2  7.579205  0.999999  1.355914e-07
94    9.3  7.679205  0.999999  9.259901e-08
95    9.4  7.779204  0.999999  6.292336e-08
96    9.5  7.879204  0.999999  4.254505e-08
97    9.6  7.979204  0.999999  2.862318e-08
98    9.7  8.079204  0.999999  1.916102e-08
99    9.8  8.179204  0.999999  1.276297e-08
100   9.9  8.279204  0.999999  8.458961e-09
101  10.0  8.379204  0.999999  5.578467e-09

In [7]:
#res = {'eta':[0], 'f':[0], 'f_prime': [0],  'f_prime_2': [5]}
#pd.DataFrame(rk4(f1=y2, f2=y3, f3=y4, h=0.1, FValues=res, num_iter=101)).tail(10)

# Should get 6.09777 for f_prime

We now look at G

In [15]:
def y4(u4):
    "This is equivalent to g' = y4"
    
    y = u4
    return y

def y5(Pr, u1, u4):
    "This is equivalent to: G''=-0.5*Pr*F*G'"
    y = -0.5*Pr*u1*u4
    return y

# RK-4 set up
def rk4_G(prandl, f1, f2, f3, h, FValues, num_iter):
    "this function performs RK-4"
    
    steps = list(range(num_iter))
    
    for i in steps:
        
        k11 = h*f1(FValues['f_prime'][i])
        k12 = h*f2(FValues['g_prime'][i])
        k13 = h*f3(prandl, FValues['f'][i], FValues['g_prime'][i])

        k21 = h*f1(FValues['f_prime'][i] + k12/2)
        k22 = h*f2(FValues['g_prime'][i] + k13/2)
        k23 = h*f3(prandl, FValues['f'][i] + k11/2, FValues['g_prime'][i] + k13/2)

        k31 = h*f1(FValues['f_prime'][i] + k22/2)
        k32 = h*f2(FValues['g_prime'][i] + k23/2)
        k33 = h*f3(prandl, FValues['f'][i] + k21/2, FValues['g_prime'][i] + k23/2)

        k41 = h*f1(FValues['f_prime'][i] + k32)
        k42 = h*f2(FValues['g_prime'][i] + k33)
        k43 = h*f3(prandl, FValues['f'][i] + k31, FValues['g_prime'][i] + k33)

        g = FValues['g'][i]  + (1/6)*(k12 + 2*k22 + 2*k32 + k42)
        g_prime = FValues['g_prime'][i] + (1/6)*(k13 + 2*k23 + 2*k33 + k43)
        
        FValues['g'].append(g)
        FValues['g_prime'].append(g_prime)
                   
    return FValues

In [26]:
gp_lower = -10
gp_upper = 10

gtest_val = -1
Pr = 5

while abs(gp_upper - gp_lower) >= 10**(-6):
        
    # Trying values of f''
    gp_test = (gp_upper + gp_lower)/2
    print(gp_test)
    res_g = res_f
    res_g['g'] = [1]
    res_g['g_prime'] = [gp_test]
    
    res_all = rk4_G(prandl = Pr, f1=y1, f2=y4, f3=y5, h=0.1, FValues=res_g, num_iter=101)
    
    if (res_all['g'][-1])*gtest_val < 0:
        gp_upper = gp_test
    else:
        gp_lower = gp_test
        gtest_val = res_f['g'][-1]

0.0
-5.0
-2.5
-1.25
-0.625
-0.3125
-0.46875
-0.546875
-0.5859375
-0.56640625
-0.576171875
-0.5712890625
-0.57373046875
-0.574951171875
-0.5743408203125
-0.57464599609375
-0.574798583984375
-0.5747222900390625
-0.5747604370117188
-0.5747795104980469
-0.5747699737548828
-0.5747652053833008
-0.5747675895690918
-0.5747687816619873
-0.5747681856155396

In [27]:
pd.DataFrame(res_all).head(10)

   eta         f   f_prime  f_prime_2         g   g_prime
0  0.0  0.000000  0.000000   0.332057  1.000000 -0.574768
1  0.0  0.001660  0.033205   0.332048  0.942520 -0.574906
2  0.1  0.006641  0.066408   0.331983  0.885046 -0.574566
3  0.2  0.014941  0.099598   0.331809  0.827649 -0.573274
4  0.3  0.026560  0.132764   0.331469  0.770449 -0.570563
5  0.4  0.041493  0.165885   0.330911  0.713610 -0.565981
6  0.5  0.059735  0.198937   0.330079  0.657340 -0.559111
7  0.6  0.081277  0.231890   0.328922  0.601886 -0.549583
8  0.7  0.106108  0.264709   0.327389  0.547532 -0.537093
9  0.8  0.134213  0.297354   0.325432  0.494584 -0.521420

In [29]:
pd.DataFrame(res_all).tail(10)

      eta         f   f_prime     f_prime_2             g       g_prime
92    9.1  7.479205  0.999999  1.975556e-07  6.817483e-07 -9.871547e-29
93    9.2  7.579205  0.999999  1.355914e-07  6.817483e-07 -2.968770e-29
94    9.3  7.679205  0.999999  9.259901e-08  6.817483e-07 -9.101562e-30
95    9.4  7.779204  0.999999  6.292336e-08  6.817483e-07 -2.848638e-30
96    9.5  7.879204  0.999999  4.254505e-08  6.817483e-07 -9.114907e-31
97    9.6  7.979204  0.999999  2.862318e-08  6.817483e-07 -2.985714e-31
98    9.7  8.079204  0.999999  1.916102e-08  6.817483e-07 -1.002506e-31
99    9.8  8.179204  0.999999  1.276297e-08  6.817483e-07 -3.454642e-32
100   9.9  8.279204  0.999999  8.458961e-09  6.817483e-07 -1.223218e-32
101  10.0  8.379204  0.999999  5.578467e-09  6.817483e-07 -4.455210e-33